In [1]:
from streamlit_folium import folium_static

hi

In [34]:
import pandas as pd

In [3]:
import os

In [27]:
x = {"a":"a1", "b":"b1", "c":"c1", "d":"d1", "e":"e1"}

In [30]:
t =

{'a': 'a1', 'c': 'c1'}

In [35]:
d = pd.DataFrame(x.items(), columns=["m","n"])

In [39]:
"a" in d.columns

False

In [12]:
d[d["n"]=="a1"]["m"].iloc[0]

'a'

In [1]:
import utils.authority_names

In [3]:
utils.authority_names.reverse_search("Bedford")

'BF'

In [4]:
authorities = [
    "Cambridgeshire, UK",
    "City of Peterborough, UK",
    "Norfolk, UK",
    "Suffolk, UK",
    "Essex, UK",
    "Thurrock, UK",
    "Hertfordshire, UK",
    "Central Bedfordshire, UK",
    "Bedford, UK"
]

In [8]:
a = {"a"}

CB
PE
NK
SK
EX
TU
HD
BK
BF

In [11]:
pd.read_csv("data/row/row_raw.csv")

       trackid  latitude  longitude
0            0  52.15715    0.17970
1            0  52.15736    0.18003
2            0  52.15750    0.18030
3            0  52.15758    0.18058
4            0  52.15763    0.18095
...        ...       ...        ...
98164     4600  52.07892   -0.13297
98165     4600  52.07894   -0.13296
98166     4600  52.07896   -0.13296
98167     4600  52.07898   -0.13296
98168     4600  52.07952   -0.13340

[98169 rows x 3 columns]

In [1]:
from utils import gpx_converter

In [2]:
a = gpx_converter.Converter(input_file="data/row/row.gpx").gpx_to_dataframe()

In [3]:
a

       trackid  latitude  longitude
0            0  52.15715    0.17970
1            0  52.15736    0.18003
2            0  52.15750    0.18030
3            0  52.15758    0.18058
4            0  52.15763    0.18095
...        ...       ...        ...
98164     4600  52.07892   -0.13297
98165     4600  52.07894   -0.13296
98166     4600  52.07896   -0.13296
98167     4600  52.07898   -0.13296
98168     4600  52.07952   -0.13340

[98169 rows x 3 columns]

In [4]:
a["trackid"] += 2 * 1000000

In [5]:
a

       trackid  latitude  longitude
0      2000000  52.15715    0.17970
1      2000000  52.15736    0.18003
2      2000000  52.15750    0.18030
3      2000000  52.15758    0.18058
4      2000000  52.15763    0.18095
...        ...       ...        ...
98164  2004600  52.07892   -0.13297
98165  2004600  52.07894   -0.13296
98166  2004600  52.07896   -0.13296
98167  2004600  52.07898   -0.13296
98168  2004600  52.07952   -0.13340

[98169 rows x 3 columns]

In [1]:
import osmnx as ox

In [2]:
ox.load_graphml("as")

FileNotFoundError: [Errno 2] No such file or directory: 'as'

In [3]:
import networkx as nx

In [19]:
ox.save_graphml(nx.MultiGraph(), "temp.graphml")

In [20]:
a = ox.load_graphml("temp.graphml")

In [21]:
a

In [22]:
nx.is_empty(a)

True

In [25]:
%%time
a = ox.load_graphml("data/osmnx/east-of-england_0.graphml")

Wall time: 214 ms

In [26]:
graph_nodes, graph_edges = ox.graph_to_gdfs(a, nodes=True, edges=True)