In [1]:
from streamlit_folium import folium_static

hi

In [1]:
import pandas as pd

In [18]:
import os

['BK', 'BF']

In [8]:
x = {"a":"a1", "b":"b1", "c":"c1", "d":"d1", "e":"e1"}

In [11]:
list(x.keys())

['a', 'b', 'c', 'd', 'e']

In [30]:
t =

In [16]:
a = "a"

In [17]:
[i for i in a]

['a']

In [35]:
d = pd.DataFrame(x.items(), columns=["m","n"])

In [39]:
"a" in d.columns

False

In [12]:
d[d["n"]=="a1"]["m"].iloc[0]

'a'

In [1]:
import utils.authority_names

In [3]:
utils.authority_names.reverse_search("Bedford")

'BF'

In [4]:
authorities = [
    "Cambridgeshire, UK",
    "City of Peterborough, UK",
    "Norfolk, UK",
    "Suffolk, UK",
    "Essex, UK",
    "Thurrock, UK",
    "Hertfordshire, UK",
    "Central Bedfordshire, UK",
    "Bedford, UK"
]

In [8]:
a = {"a"}

CB
PE
NK
SK
EX
TU
HD
BK
BF

In [3]:
a = pd.read_csv("data/row/BF.csv")

In [4]:
a

        Unnamed: 0   latitude  longitude  tracksegid  trackid
0                0  52.162500  -0.395110           0        0
1                1  52.162455  -0.395110           0        0
2                2  52.162410  -0.395110           0        0
3                3  52.162364  -0.395110           0        0
4                4  52.162319  -0.395110           0        0
...            ...        ...        ...         ...      ...
257523      257523  52.300241  -0.498457           0     2931
257524      257524  52.300196  -0.498462           0     2931
257525      257525  52.300151  -0.498467           0     2931
257526      257526  52.300109  -0.498477           0     2931
257527      257527  52.300070  -0.498500           0     2931

[257528 rows x 5 columns]

In [6]:
a.columns

Index(['Unnamed: 0', 'latitude', 'longitude', 'tracksegid', 'trackid'], dtype='object')

Empty DataFrame
Columns: [Unnamed: 0, latitude, longitude, tracksegid, trackid]
Index: []

In [17]:
P = a["trackid"] == 20

In [18]:
R = a["latitude"] <= 52.301360

In [25]:
a[P & R]

      Unnamed: 0  latitude  longitude  tracksegid  trackid
1288        1288  52.30136   -0.46512           0       20

In [15]:
(a["trackid"] == 20) & (a["latitude"] <= 52.301360)

0         False
1         False
2         False
3         False
4         False
          ...
257523    False
257524    False
257525    False
257526    False
257527    False
Length: 257528, dtype: bool

In [1]:
from utils import gpx_converter

In [2]:
a = gpx_converter.Converter(input_file="data/row/row.gpx").gpx_to_dataframe()

In [16]:
a[(a["trackid"] == 20) & (a["latitude"] <= 52.301360)]

      Unnamed: 0  latitude  longitude  tracksegid  trackid
1288        1288  52.30136   -0.46512           0       20

In [4]:
a["trackid"] += 2 * 1000000

In [5]:
a

       trackid  latitude  longitude
0      2000000  52.15715    0.17970
1      2000000  52.15736    0.18003
2      2000000  52.15750    0.18030
3      2000000  52.15758    0.18058
4      2000000  52.15763    0.18095
...        ...       ...        ...
98164  2004600  52.07892   -0.13297
98165  2004600  52.07894   -0.13296
98166  2004600  52.07896   -0.13296
98167  2004600  52.07898   -0.13296
98168  2004600  52.07952   -0.13340

[98169 rows x 3 columns]

In [1]:
import osmnx as ox

In [2]:
ox.load_graphml("as")

FileNotFoundError: [Errno 2] No such file or directory: 'as'

In [3]:
import networkx as nx

In [19]:
ox.save_graphml(nx.MultiGraph(), "temp.graphml")

In [20]:
a = ox.load_graphml("temp.graphml")

In [21]:
a

In [22]:
nx.is_empty(a)

True

In [25]:
%%time
a = ox.load_graphml("data/osmnx/east-of-england_0.graphml")

Wall time: 214 ms

In [26]:
graph_nodes, graph_edges = ox.graph_to_gdfs(a, nodes=True, edges=True)